body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #868686;
}

.inner {
  max-width: 1200px;
}

header {
  width: 100%;
  height: 80px;
  cursor: pointer;
}

.h-section {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header-menu .menu {
  display: flex;
}

.header-menu .menu li {
  font-size: 18px;
  font-weight: 400;
  color: #434242;
}

.header-menu .menu li + li{
  margin-left: 40px;
}

.utility .menu {
  display: flex;
}

.utility .menu li {
  font-size: 14px;
  font-weight: bold;
  color: #727171;
}

.utility .menu li + li {
  margin-left: 20px;
}

.utility .menu li::before {
  content: "";
  width: 2px;
  height: 16px;
  background: #CECECE;
  position: absolute;
  margin-left: -10px;
  margin-top: -1px;
} 

.utility .menu li:first-child::before {
  /* 첫번째 요소의 구분선 숨기기 */
  display: none;
}

section {
  width: 100%;
  height: 660px;
}

.scroll {
  position: absolute;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 610px;
  left: 50%;
  animation: 0.8s scroll infinite ease-out;
}

@keyframes scroll {
  from {
    top: 610px;
  }
  to {
    top: 620px;
  }
}

.scroll h2 {
  color: #32323b;
  margin-bottom: 5px;
}

.badge {
  width: 40px;
  height: 85px;
  position: fixed;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  top: 655px;
  z-index: 10;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #32323B;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



.con-1 {
  margin: 0 auto;
  position: relative;
}

.con-1 .con-1-text {
  width: 435px;
  height: 201px;
  position: absolute;
  top: 90px;
  left: 0;
  animation: slide-left 1s ease-out;
}

@keyframes slide-left {
  from {
    left: -400px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}


.title {
  font-weight: bold;
  line-height: 44px;
  font-size: 32px;
  color: #32323B;
}

.sub-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #32323B;
  margin-top: 15px;
}

.sub-title:last-child {
  margin-top: 5px;
}

.btn button {
  width: 180px;
  height: 42px;
  border: none;
  background: #55A0E9;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 300px;
  justify-content: center;
  align-items: center;
  color: #fff;
  animation: btn 1s ease-out;
}

@keyframes btn {
  from {
    opacity: 0;
    left: -400px;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

.btn-text {
  font-weight: bold;
  font-size: 16px;
}

.btn span {
  transition: 0.3s;
  margin-left: 5px; 
  margin-top: 2px;
}

.btn:hover span {
  padding-left: 10px;
}

.con-1-img img {
  position: absolute;
  top: 62px;
  right: 0;
  animation: slide-right 1s ease-out;
  width: 680px;
  height: 536px;
}

@keyframes slide-right {
  from {
    right: -400px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

.con-2 {
  width: 100%;
  height: 550px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.page {
  width: 1200px;
  height: 550px;
  display: flex;
}

.page-1-left {
  flex: 1;
  background: #14213D;
  display: flex;
  flex-flow: column;
  width: 365px;
  height: 550px;
  justify-content: center;
  align-items: center;
}

.page-1-left .page-sub-text {
  color :#7F8796;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-top: 24px;
}

.page-1-left .page-main-text {
  color :#fff;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-top: 24px;
}

.page-1-right {
  flex: 1;
  background: #EBF8F8;
  display: flex;
  flex-flow: column;
  width: 365px;
  height: 550px;
  justify-content: center;
  align-items: center;
}

.page-1-right {
  flex: 1;
}

.con-3 {
  margin: 0 auto;
  max-width: 1200px;
  height: 450px;
  /* background: #CECECE; */
  overflow: hidden;
}

.con-text {
  width: 753px;
  height: 155px;
  margin: 0 auto;
  display: flex; 
  flex-flow: column;
  justify-content: space-between;
  padding-top: 100px;
}

.c-title {
  color: #32323B;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.line {
  width: 300px;
  height: 3px;
  background: #55A0E9;
  margin: 0 auto;
}

.c-sub-title {
  color: #868686;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

.con-4 {
  height: 1073px;
  margin: 0 auto;
  margin-top: 107px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.con-4-text {
  height: 75px;
  display: flex;
  font-size: 20px;
  font-weight: 400;
  justify-content: space-between;
}

.con-4-text .li-hover:first-child {
  font-size: 16px;
}

.con-4-text a:hover {
  color: #32323B;
  font-weight: 500;
}

.li-hover {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  transition: 0.3s;
}

.li-hover:hover .s-circle {
  display: block;
}

.s-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #FCB33B;
  margin: 0 auto;
  display: none;
}

.con-4-image-area {
  width: 1200px;
  height: 940px;
  /* background: #475d8b; */
  flex-flow: row;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  animation: image-area 2s;
}

@keyframes image-area {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.con-4-items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  /* justify-content: space-between; */
}

.con-4-items .item {
  width: 386px;
  height: 386px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.con-4-items .item:hover {
  scale: 1.2;
  z-index: 9;
}

.item1 {
  background-image: url(/img/img-1.jpg);
}
.item2 {
  background-image: url(/img/img-2.jpg);
}
.item3 {
  background-image: url(/img/img-3.jpg);
}
.item4 {
  background-image: url(/img/img-4.jpg);
}
.item5 {
  background-image: url(/img/img-5.jpg);
}
.item6 {
  width: 386px;
  height: 386px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: auto;
}

.item6 span {
  font-size: 100px;
  color: #32323B;
  transition: 0.5s;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.item6 span:hover {
  scale: 1.2;
  color: #ffffff;
  background: #55A0E9;
}

.btn-5 {
  margin: 60px auto 0 auto;
  text-align: center;
}

.btn-5 button {
  width: 180px;
  height: 42px;
  border: none;
  background: #FCB33B;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.con-5 {
  width: 100%;
  height: 757px;
  margin-top: 60px;
  text-align: center;
  position: relative;
}

.con-5-bg {
  width: 100%;
  height: 650px; 
  background: #F8F8F8;
  position: absolute;
  bottom: 0;
}

.con-5 .inner {
  margin: 0 auto;
  position: relative;
}

.con-5 .inner img {
  position: absolute;
  z-index: 1;
  width: 688px;
  height: 688px;
  left: -35px;
  animation: slide-left-con5 1s ease-out;
}

@keyframes slide-left-con5 {
  from {
    left: -500px;
    opacity: 0;
  }
  to {
    left: -35;
    opacity: 1;
  }
}

.con-5 .con-5-text {
  position: absolute;
  width: 400px;
  height: 377px;
  z-index: 2;
  right: 152px;
  top: 224px;
  animation: slide-right-con5 1s ease-out;
}

@keyframes slide-right-con5 {
  from {
    right: -400px;
    opacity: 0;
  }
  to {
    right: 152px;
    opacity: 1;
  }
}


.con-5-text .c-sub-title {
  text-align: left;
}

.con-5-text .c-title {
  text-align: left;
  margin: 10px 0 15px 0;
}

.con-5-text .line {
  margin-left: 0;
  margin-bottom: 15px;
}

.con-5-ul {
  text-align: left;
  font-size: 16px;
  color: #868686;
  margin-top: 45px;
}

.con-5-ul li {
  margin-bottom: 10px;
}

.con-5-ul li>span {
  font-size: 12px;
  color: #2d2d2d;
  margin-right: 5px;
}

.con-5-text .btn-5 {
  padding-top: 30px;
  text-align: left;
}

.bg{  
  background: url(/img/laptop-g6bbfee09a_1920.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: static;
  height: 325px;
}

.bg-items {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
}

.bg-item {
  width: 300px;
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 20px;
}

.bg-sub-title {
  color: #cecece;
  font-size: 16px;
  text-align: center;
}

.bg-main-title {
  font-size: 32px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.bg-item span {
  font-size: 80px;
  color: #FCB33B;;
}

.con-6 {
  height: 500px;
  margin: 0 auto;
}

.con-6-area {
  width: 100%;
  height: 500px;
} 

.con-6-area .bg-main-title {
  color: black;
}

.con-6-area .bg-sub-title {
  color: #FCB33B;
}

.con-6-area .bg-sub-title:last-child {
  color: #868686;
  line-height: 22px;
}

.con-6-text {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.con-6-text .material-icons {
  font-size: 50px;
  margin-top: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #b0b0b0;
}







